.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    min-height: 64px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-top: 0px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    box-sizing: border-box;
}

.navbar > form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-btn {
    background: rgba(255, 255, 255, 0);
    border: none;
    font-size: 24px;
    color: #161616;
    cursor: pointer;
    transition: color 0.2s, background 0.2s;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}