@media (max-width: 420px) {
    .app-header, .menu-header { padding: 0 12px; font-size: 1em; }
    .chat-user-avatar { width: 32px; height: 32px; }
    #users-list { padding: 68px 12px 68px 12px; }
    .me span, .other span { max-width: 85%; font-size: 15px; }
    #input-container { width: calc(100% - 24px); bottom: 82px; }
    #message-input { font-size: 14px; }
    #send-btn { padding: 10px 16px; font-size: .95em; }
    .user-avatar { width: 48px; height: 48px; }
}